.input-focus:focus {
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); /* azul #2563eb com transparência */
}

.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.bg-custom-gradient {
  background: linear-gradient(135deg, #f3f4f6 0%, #e5e7eb 100%);
  /* tons de cinza claro #f3f4f6 e #e5e7eb usados nas tabelas */
}
